body {
    background-image: url("../Images/Background/Background3.png"), url("../Images/Background/BK.png");
    background-repeat: no-repeat, repeat;
    background-size: 100%;
    background-position: center 0%;
    overflow: hidden;
}
@font-face {
	font-family: "Pixel";
    src: url("../Police/VISITOR.FON");
	src: url("../Police/Visitor1.ttf");
    src: url("../Police/Visitor2.ttf");
}

h1 {text-align: center;
    color: white;
    font-size: 250%;
    font-family: "Pixel";
    position: relative;
    top: -100;
}
img { position: relative; top: -15px; }
#Pipe {top: -15px; }
#DK {top: -7px;
    right: 80px;}
#arcade{top: -60px;
    right: 0px;}