body {
    background-image: url("../Images/Background/Background.png"), url("../Images/Background/BK.png");
    background-repeat: no-repeat, repeat;
    background-size: 100%;
    background-position: center 0%;
    overflow: hidden;
}
@font-face {
	font-family: "Pixel";
    src: url("../Police/VISITOR.FON");
	src: url("../Police/Visitor1.ttf");
    src: url("../Police/Visitor2.ttf");
}

h1 {position:relative;
    text-align:center;
    color: white;
    font-size: 250%;
    font-family: "Pixel";
    top: -100;
}
img {position: relative; top: 100px; }
#Pipe {top: -15px;
}
#texte {margin-left: 10%;
        text-align:justify;
        margin-right: 40%}
#Gameboy{margin-left: 110%;
         top:-400px;
}